.film-detail {
    height: 500px;
    background-color: cornflowerblue;
}
#film-detail__poster {
    display: flex;
    text-align: right;
    justify-content: left;
    height: 500px;
    padding: 25px 10px;
}
#poster {
    height: 450px;
    width: 300px;
}

.file-detail__txt {
    margin:  5px 0px;
    text-align: justify;
    color : whitesmoke;
}