.film-detail {
    height: 500px;
    background-color: cornflowerblue;
}
#film-detail__poster {
    display: flex;
    text-align: right;
    justify-content: left;
    height: 500px;
    padding: 25px 10px;
}
#poster {
    height: 450px;
    width: 300px;
}
#film-detail__context {
    display: block;
    flex-direction: column;
    text-align: center;
    justify-content: left;
    height: 500px;
    padding: 25px 10px;
}
#file-detail__txt {
    color: red;
}