/* SHOWTIMES CSS */
.showtimes-section {
    padding : 20px 60px;
}
.showtimes-title {
    text-align: center;
    font-size: 30px;
    line-height : 40px ;
    color : #df0e62;
    font-weight: 700;
}
.border-div-1 {
    border: 2px groove ;
    border-radius: 10px;
    padding : 10px ;
}
.showtimes-list-theater {
    border: 2px groove ;
    border-radius: 3px;
}
#search-theater {
    border : 2px groove white;
    border-radius: 10px;
}
#showtimes-show {
    border: 2px solid black ;
    border-radius: 10px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 15px;
}
/* COMMENTS SECTION */
.comments-section {
    padding : 20px 60px;
}
.comments-title {
    text-align: center;
    font-size: 30px;
    line-height : 40px ;
    color : #df0e62;
    font-weight: 700;
    padding : 20px;
}
.col {
    padding: 20px ;
}
/* THEATERS SECTION */
.theaters-title {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    line-height : 40px ;
    color : #df0e62;
    font-weight: 600;
    padding : 20px;
}
.border-div-2 {
    padding : 10px 50px;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*SHOWTIMES.JSP*/
#showtimes-right_box {
    border: 2px solid black ;
    border-radius: 10px;
}
.showtimes-theaters_title {
    margin: 10px 5px;
    border: 1px solid black ;
    border-radius: 10px;
}

/*THEATERS.JSP*/
.theaters-section {
    padding : 10px 60px;
}
.theaters-card {
    border: 2px groove ;
    border-radius: 10px;
    padding : 0px 200px 100px 150px ;
}
#theaters-search {
    margin: 30px;
}
#showtimes-list_theaters {
    border: 2px groove ;
    border-radius: 10px;
    padding : 0px 110px 450px 150px ;
    margin-right: 0px;
}